<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>ICR | Indian Crypto Rupee</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
  <div>
    <h1 class="bg-1 p-4" style="background-color: #303030; height: 15vh;">
      Welcome, <%= user.name %>
    </h1>
    <div class="container-fluid">
      <div class="row" style="height: 85vh">
        <div class="col-md-8 bg-2 p-3">
          <h3 class="p-3">The benefits of cryptocurrency trading</h3>
          <p class="p-3">
            You might be a great investor and want to
          </p>
          <p class="p-3">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
            temporibus hic nihil quasi minus eos assumenda, quia debitis unde
            esse vitae! Animi minima dolor nisi quidem odit atque. Sequi, ut.
          </p>
          <p class="p-3">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
            temporibus hic nihil quasi minus eos assumenda, quia debitis unde
            esse vitae! Animi minima dolor nisi quidem odit atque. Sequi, ut.
          </p>
          <button class="btn-new bg-1 mb-4">Start Investment</button>
        </div>
        <div class="col-md-4 bg-1">
          <div class="bg-1 pl-4" style="text-align: right;">
            <h2 class="pt-3">Balance</h2>
          </div>
          <div class="bg-2 ml-4" style="padding: 10px 20px; text-align: right; border-radius: 25px;">
            <h3><%= user.balance %> ₹</h3>
          </div>
          <br />
          <form action="/addmoney" method="POST" class="pl-4" style="color: white;">
            <label for="addmoney">Add Amount (In ₹) :</label>
            <br />
            <input type="number" name="addmoney" class="btn-new bg-2" required />
            <br />
            <br />
            <button class="btn-new bg-2 mb-2" style="width: 250px; background-color: #303030;">
              Add Money
            </button>
          </form>
          <form action="/getmoney" method="POST" class="pl-4" style="color: white;">
            <label for="getmoney">Get Amount (In ₹) :</label>
            <br />
            <input type="number" name="getmoney" class="btn-new bg-2" required />
            <br />
            <br />
            <button class="btn-new bg-2 mb-2" style="width: 250px; background-color: #303030;">
              Get Money
            </button>
          </form>
          <form action="/logout" method="POST" class="pl-4">
            <button class="btn-new bg-2 mb-2">Log out</button>
          </form>
          <h3 class="p-4">TRANSFER TO A USER</h3>
          <form action="/transfer" method="POST" class="pl-4">
            <label for="username">Username</label>
            <input type="text" name="username" class="btn-new bg-2" placeholder="Username where you want to send money">
            <br>
            <br>
            <label for="amount">Amount</label>
            <input type="number" name="amount" class="btn-new bg-2">
            <br>
            <br>
            <button class="btn-new bg-2 mb-2">Transfer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- Script Files Added -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>