<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ICR | Indian Crypto Rupee</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div>
      <div class="d-flex" style="background-color: #303030; padding-left: 40px; padding-top: 10px; padding-bottom: 10px;">
        <img src="./ICR.svg" alt="" height="99vh" style="background-color: white;">
        <h1 class="bg-1 p-4" style="background-color: #303030; height: 15vh; width: 100%;">
          Indian Crypto Rupee
        </h1>
      </div>
      <div class="container-fluid" style="height: 0vh">
        <div class="row" style="height: 100vh">
          <div class="col-md-8 bg-2">
            <p class="p-3">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
              temporibus hic nihil quasi minus eos assumenda, quia debitis unde
              esse vitae! Animi minima dolor nisi quidem odit atque. Sequi, ut.
            </p>
            <p class="p-3">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
              temporibus hic nihil quasi minus eos assumenda, quia debitis unde
              esse vitae! Animi minima dolor nisi quidem odit atque. Sequi, ut.
            </p>
            <p class="p-3">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
              temporibus hic nihil quasi minus eos assumenda, quia debitis unde
              esse vitae! Animi minima dolor nisi quidem odit atque. Sequi, ut.
            </p>
            <button class="btn-new bg-1 mb-4">Start Investment</button>
          </div>
          <div class="col-md-4 bg-1">
            <p class="p-3">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
              temporibus hic nihil quasi minus eos assumenda, quia debitis unde
              esse vitae! Animi minima dolor nisi quidem odit atque. Sequi, ut.
            </p>
            <form
              action="login"
              method="POST"
              class="pl-4"
              style="color: white;"
            >
              <label for="username">Username :</label>
              <br />
              <input type="text" name="username" class="btn-new bg-2" />
              <br />
              <br />
              <label for="password">Password :</label>
              <br />
              <input type="password" name="password" class="btn-new bg-2" />
              <br />
              <br />
              <button class="btn-new bg-2 mb-2">Go to Dashboard</button>
            </form>
            <a href="/register">
              <div class="bg-1 pl-4">
                Create a new account?
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div clas="d-flex">
    <img src="./IRC.svg" alt="">  
    </body>
  <!-- Script Files Added -->
  <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"
  ></script>
</html>
