* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.color-1 {
  color: #48494b;
}
.color-2 {
  color: #9f9f9f;
}
.bg-1 {
  background-color: #48494b;
  color: white;
}
.bg-2 {
  background-color: #9f9f9f;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
.btn-new {
  padding: 15px 25px;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 30px;
}
.btn-new:hover {
  outline: none;
}
.btn-new:focus {
  outline: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
input::placeholder {
  color: white;
}
